<h3 id="savedHeading" style="align-self: center;">Your Saved Articles</h3>
<div class="row">
    <div class="col s12 m7">
        {{#each articles}}
        {{#if this.reserve}}

        <div class="card">
            <div class="card-image">
                <img src="{{this.image}}">
                <span class="card-title">{{this.title}}</span>
            </div>
            <div class="card-content">
                <p>{{this.summary}}</p>
            </div>
            <div class="card-action">
                <a href="{{this.link}}" target="_blank">View Article</a>
                <a class="waves-effect waves-light btn modal-trigger addNote" data-id="{{this._id}}" href="#modal1">Add
                    Note</a>
            </div>
        </div>

        {{/if}}
        {{/each}}
    </div>
</div>